*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: 'Roboto', sans-serif;
  background-color: $primary-bg-color;
  color: $secondary-font-color;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

}

a {
  text-decoration: none;
  color: $secondary-font-color;
}

li {
  list-style-type: none;
}

@media only screen and (min-width: 480px) {
  .wrapper {
    width: 90%;
    
  }
}