$base-font-size: 16px;

$base-color-light: #fff;


// Colors
$primary-bg-color: #fafafa;

// Font-colors
$main-font-color: #000000;
$secondary-font-color: #777777;

// Font sizes
$main-nav-font-size: 14px;